/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {}


/* Set gray background color and 100% height */

.sidenav {
	padding-top: 20px;
	background-color: #ffffff;
	height: 100%;
}


/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */

.well {
	padding: 0px;
	background-color: transparent;
	border: transparent;
	-webkit-box-shadow: inset 0 1px 1px transparent;
	box-shadow: inset 0 1px 1px transparent;
}

.optionimage {
	border-radius: 18px;
	width: 210px;
}


input.checkbox {
	display: none;
}

.inactive {
	display: none;
}


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {}


/* Set gray background color and 100% height */

.sidenav {
	padding-top: 20px;
	background-color: #ffffff;
	height: 100%;
}


/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */


.well {
	padding: 0px;
	background-color: transparent;
	border: transparent;
	-webkit-box-shadow: inset 0 1px 1px transparent;
	box-shadow: inset 0 1px 1px transparent;
}

input.checkbox {
	display: none;
}

.inactive {
	display: none;
}

.timer {
	/* position: absolute; */
	/* right: 10px; */
	/* top: 10px; */
	width: 120px;
	height: 53px;
	/* float: right; */
	background: #6462C5;
	border-radius: 10px;
	padding: 5px;
	background: #6462C5;
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	margin: 10px auto;
	text-align: center;
	color: #FFFFFF;
}

img.logo {
	width: 100px;
	height: auto;
}

.timeleft {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	/* identical to box height */
	text-align: center;
	color: #FFFFFF;
}

p.question {
	font-family: Roboto;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
}

img.question {
	margin: 10px auto;
	border-radius: 8px;
	display: block;
}

h4.blockq {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;
}

.buttongroup1 {
	display: inline-block;
	max-width: 250px;
}

.buttongroup2 {
	display: inline-block;
}

.buttongroup3 {
	display: inline-block;
}

.buttongroup4 {
	display: inline-block;
}

.buttongroup5 {
	display: inline-block;
}

.button {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border: none;
	margin: 2px;
}

.next {
	left: 1199px;
	top: 119px;
	background: #FF8E3C;
}

.column {
	width: min-content;
	margin: 5px 5px;
	display: inline-block;
	border: 0.5px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;
}

.grey {
	background: rgba(243, 243, 243, 0.73);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.column p {
	padding: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 18px;
	color: #000000;
}

.footercenter {
	margin: 10px;
	justify-content: center;
}

.item {
	color: white;
	border: none;
	background-color: #eee;
	cursor: pointer;
	margin: 5px;
	box-shadow: inset 0px 0px 0px -15px rebeccapurple;
	transition: all 300ms ease-out;
	border-radius: 10px;
	line-height: normal;
	height: 35px;
	padding: 5px 13px;
}

.reviewitem {
	background: #D9376E;
}

.backitem {
	background: #B2B2B2;
}

.saveandnextitem {
	background: #FF8E3C;
}

.submititem {
	background: #37D995;
}

footer {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin: 30px;
	color: #000000;
}

footer {
	padding: 0;
	width: 100% !important;
	margin: 30px auto;
	position: initial
}

.selected {
	border-color: #FF9500 !important;
	border-width: 4px;
}

img {
	max-width: 80vw
}

// .op{
//     display: inline-block;
//     padding: 0;
// }
// .grid{
//     max-width:250px;
//     margin:25px;
//     margin-top: 100px;
// }
// .grid span{
//     // padding:0;
//     // border-radius:50%;
//     // background-color: #D9376E;
//     // color: white;
//     // display:inline-block;
//     // margin:4px;
//     // width: 15%;
//     // aspect-ratio: 1;
//     // text-align: center;
//     // padding-top: 5px;
//     width: 34px;
//     height: 34px;
//     border-radius: 50%;
//     border: none;
//     margin: 2px;
//     color: black;
//     background: #efefef;
//     /* padding: 2px; */
//     padding-top: 5px;
// }
// .question img{
//     border-radius: 20px;
//     box-shadow: (0, 0, 0, 0.15) 0px 0px 15px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
// }
// .option{ img{
//     border-radius: 20px;
//     box-shadow: (0, 0, 0, 0.15) 0px 0px 15px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
// }
// p{
//     font-size: 15px;
//     font-weight: 600;
// }
// }
// .review{
//     background-color: #FF8E3C !important;
//     }
// .grid .selected{
// background-color: #22b315 !important;
// border: 0;
// }
// img{
//     width: 220px
// }
// .selected{
//     border: 5px solid blue;
//     font-size: 15px;
// }
// .timer{
//     width: 132px;
//     height: 47px;
//     background-color: #6462C5;
//     color: white;
//     border-radius: 12px;
//     font-size: 20px;
//     font-weight: 100;
//     position: absolute;
//     left: 70px;
//     top: 16px;
//     left: 87.2vw;
//     z-index: 10;
//     font-size: 15px;
//     p{
//         margin:0;
//     font-size: 15px;
//     }
// }
// .current{
//     background-color: blue;
// }
// .question{
//     margin-top: 35px;
// }

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}


@media only screen and (max-width:750px) {
	.timer {
		top: 50px;
		right: 10px;
		position: fixed;
	}
	.optionimage {
		width: 300px;
	}
}

@media only screen and (max-width: 600px) {
	.timer {
		top: 50px;
		right: 10px;
		position: fixed;
	}
}

@media only screen and (max-width: 415px) {
	.timer {
		top: 50px;
		right: 10px;
		position: fixed;
	}
	.button {
	width: 40px;
	height: 40px;
}
}

@media only screen and (max-width: 412px) {
	.timer {
		top: 50px;
		right: 10px;
		position: fixed;
	}
}

@media only screen and (max-width: 360px) {
	.timer {
		top: 50px;
		right: 10px;
		position: fixed;
	}
	.button {
	width: 40px;
	height: 40px;
}
}

@media only screen and (max-width: 321px) {
	.timer {
		top: 50px;
		right: 10px;
		position: fixed;
		width: 90px;
		padding: 5px;
		margin: 5px;
	}
}
.current{
	border:2px solid blue;
}
.review{
	background: #D9376E;
	}