/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
}


/* Set gray background color and 100% height */

.sidenav {
	padding-top: 20px;
	background-color: #ffffff;
	height: 100%;
}


/* Set black background color, white text and some padding */


/* On small screens, set height to 'auto' for sidenav and grid */


.well {
	padding: 0px;
	background-color: transparent;
	border: transparent;
	-webkit-box-shadow: inset 0 1px 1px transparent;
	box-shadow: inset 0 1px 1px transparent;
}

.optionimage {
	width: 220px;
}


input.checkbox {
	display: none;
}

.inactive {
	display: none;
}

.heading {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;
	color: #FF9F2E;
}

.name {
	font-family: Ubuntu;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
}

.res-circle {
	width: 50%;
	border-radius: 50%;
	background: #6F40F7;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
	margin: 0px auto;
	line-height: 0;
	position: relative;
}

.res-circle::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.circle-txt {
	position: absolute;
	bottom: 50%;
	width: 100%;
	text-align: center;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: #FFFFFF;
}

.title {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;
	text-align: center;
	color: #000000;
}

.res-circle1 {
	width: 100%;
	border-radius: 50%;
	background: #FF9F2E;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
	margin: 0px auto;
	line-height: 0;
	position: relative;
}

.res-circle1::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.res-circle2 {
	width: 100%;
	border-radius: 50%;
	background: #FF2E2E;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
	margin: 0px auto;
	line-height: 0;
	position: relative;
}

.res-circle2::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.res-circle3 {
	width: 100%;
	border-radius: 50%;
	background: #A8A8A8;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
	margin: 0px auto;
	line-height: 0;
	position: relative;
}

.res-circle3::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.circle-txt1 {
	position: absolute;
	bottom: 50%;
	width: 100%;
	text-align: center;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: #FFFFFF;
}

.title1 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}

.space {
	margin: 100px;
}

.download {
    padding: 10px;
    margin: 30px 5px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    color: #F9F8FB;
    background: #424394;
    border-radius: 30px;
}

.caption {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.social {
	list-style: none;
	display: inline-block;
}

.social li {
	margin: 10px;
	display: inline-block;
}
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
	.res-circle1,.res-circle2,.res-circle3,.res-circle4{
    width: 60%;
}
}
img.text-center {
    width: 400px;
}
 .floating-social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: -15%;
    right: -50px;
    padding: 24px 16px;
    transform: translateY(-50%);
    z-index: 3;
}

        .social-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            margin: 8px;
            padding: 8px;
            
            text-decoration: none;
            
            background-color: red;
            border: 0px;
            border-radius: 50%;
        }
    .sharenow {
    background: #ff9f2e;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    margin: 60px 0px;
    transform: rotate( 
90deg
 );
    border-radius: 20px;
}
        
        .social-button i {
            color: #fff;
            font-size: 24px;
        }
@media only screen and (max-width:750px) {
	.timer {
		position: absolute;
		top: -1225px;
		right: 50px;
	}
	.optionimage {
		width: 300px;
	}
	.space {
	margin: 50px;
}
img.text-center {
    width: 300px;
}
}

@media only screen and (max-width: 415px) {
	.timer {
		position: absolute;
		top: -1910px;
		right: 10px;
	}
	.space {
	margin: 0px;
}
}

@media only screen and (max-width: 412px) {
	.timer {
		top: -1910px;
		right: 10px;
	}
}

@media only screen and (max-width: 360px) {
	.timer {
		top: -1910px;
		right: 10px;
	}
}

@media only screen and (max-width: 321px) {
	.timer {
		top: -1950px;
		right: 10px;
		width: 90px;
		padding: 5px;
		margin: 5px;
	}
}
footer{
	padding: 0;
	margin: 0;
	position: unset;
}